<mat-toolbar color="primary">

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
    </mat-menu>


    <span>Kiwi</span>

    <a mat-button href="/main">Main</a>
    <a mat-button href="/main">Kiwi Auction</a>
    <a mat-button href="/main">Info</a>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    
</mat-toolbar>
